<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link th:href="@{/css/home.css}" href="/css/home.css"  rel="stylesheet" type="text/css"  />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<script type="text/javascript" th:inline="javascript" th:src="@{/js/scriptFile.js}"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>ToDo</title>
</head>
<body onload="saveToken()">

<input  id="jwt" th:value="${token}" /> 

		<div th:fragment="navbar" class="navbar navbar-fixed-top" style="background-color: #ffbb33">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="navbar-inner">
						
						  <a class="navbar-brand" onclick="toogleNav()">
							<span style="font-size: 25px; margin-left: 50%; cursor: pointer">&#9776;</span>
 						  </a>
   						  <a class="navbar-brand">Google Keep</a>
   						 
						  <button class="navbar-brand" type="button" style="float: right">
							<a href="#" th:href="@{/logout}">Logout</a>
						  </button>
					</div>
				</div>
			</div>
		</div>

<div class="container">
	<div class="row">
		<div class="col-12 sidebar-nav">
			<div class="sideNav" id="sideNavContent">
				<ul class="nav nav-list">
					<li class="nav-header"></li>
					<li><a th:href="${'home'}">Notes</a></li>
					<li><a>Reminder</a></li>
					<li><a th:href="${'trash'}">Trash</a></li>
					<li><a th:href="${'archive'}">Archive</a></li>
					<li><a>Activity Log</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
		
		
	
		<br /><br /><br /><br /><br />
		
			<div class="container" id="marginLeft">
						<button type="button" data-toggle="modal" data-target="#myModal">Add-Note</button>
							
							<div class="modal fade" id="myModal" role="dialog">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">Add new Note</h4>
										</div>
										
										<div class="modal-body">
										
											<form action="#" th:action="@{/user/addNote}" th:object="${note}" method="post" role="form">
												
												<table style="width:100%">
													  
													  <tr> 
													  	<td>Title : </td>
													    <td><input type="text" th:field="*{title}" /></td>
													 </tr>
													 
													   <tr>     
													    <td>Description : </td>  
													    <td><input type="text" th:field="*{description}" /></td> 
													   </tr> 
												</table>
												<input type="submit"  th:value="submit" />
												
											</form>
											
											
										</div>
									</div>
								</div>
						</div>
					</div>	
		
			
			<div class="container" id="noteContainer"> 
				<div class="row">
						<div class="col-12-xs col-12-sm col-12-md col-12-lg">
							<div style="margin-left: 120px;">
								<h3>All Notes</h3>
									<div th:each="note : ${allNotes}" id="card" th:if="${note.archiveStatus!='true' and note.trashStatus!='true'}">
										
										<div th:text="${note.title}" th:onclick="'parseUrlFilter()'"></div><br />
										
										<div th:text="${note.description}"></div><br />
										
										<div>
											<span class="btn"> 
							 					<img th:src="@{/image/reminder.svg}" height="18px" /> 
											</span>
											
											<span class="btn"> 
							 					<img th:src="@{/image/colaburator.png}" height="22px" /> 
											</span>
											
											<span class="btn"> 
							 					<img th:src="@{/image/colorpallete.svg}" height="20px" /> 
											</span>
											
											<span class="btn" data-toggle="modal" data-target="#myModal"> 
							 					<img th:src="@{/image/image.svg}" height="18px"/> 
											</span>
											
											
											
											
											<span class="btn">
												<a th:href="${'otherNote/1/' + note.noteId}">
							 						<img th:src="@{/image/archive.svg}" height="18px" /> 
							 					</a>
											</span>
											
											<div class="dropdown inline">
												<span class="btn dropdown-toggle" id="menu1" data-toggle="dropdown">
													<img th:src="@{/image/more-vert.svg}" height="18px" /> 
												</span>
												
												<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
													<li><a th:href="${'otherNote/3/' + note.noteId}">Delete note</a></li>
													<li><a>Add Label</a></li>
													<li><a th:href="${'copy/' + note.noteId}">Make a Copy</a></li>
													<li><a th:onclick="'fbAsyncSocialShare(note)'">Social Share</a></li>
												</ul>
											</div>
											
											
										</div>
									</div>
								</div>
								</div>
							</div>
						</div>

</body>
</html>






