<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>form</title>
<link th:href="@{/css/home.css}" href="/css/home.css"  rel="stylesheet" type="text/css"  />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
	
<body id="login-abc">

<div class="container">
	<div class="row">
		<h2>Insert Details</h2>
    	<form autocomplete="off" action="#" th:action="@{/savedetails}" th:object="${details}" method="post" class="form-signin mg-btm" role="form">
			
			<div class="main">	
       
				<input type="text" th:field="*{docName}" placeholder="Enter doc name" class="form-control" />
				<input type="text" th:field="*{docType}" placeholder="Enter doc type" class="form-control" />
				<input type="text" th:field="*{docAmount}" placeholder="Enter doc amount" class="form-control" />
				<input type="text" th:field="*{tax}" placeholder="Enter tax" class="form-control" />
				<input type="text" th:field="*{taxType}" placeholder="Enter tax type" class="form-control" />
				
				<br />
				<button type="submit" class="btn btn-danger" style="padding: 10px;">Submit</button>
				
				<span class="clearfix"></span>	
        	</div>
      </form>
	</div>
</div>

</body>
</html>
