<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<script type="text/javascript" th:inline="javascript" th:src="@{/js/scriptFile.js}"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
<title>ToDo</title>
</head>
<body>
	<div class="col-md-6 col-lg-6">
		<h3>View Details </h3> 
		
		Doc-Name   : <a th:text="${docName}"></a><br />
		Doc-Type   : <a th:text="${docType}"></a><br />
		Doc-Amount : <a th:text="${docAmount}"></a><br />
		Tax        : <a th:text="${tax}"></a><br />
		Tax-Type   : <a th:text="${taxType}"></a>
	</div>
	
	<span><a th:href="${'docdetails'}">All Detail</a></span>
	
</body>
</html>